{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static/style/ref.css">
{% endblock %}


{% block content %}
<div class='container'>
  <div class="create-btn">
    <button id='click'><span>Get Link!</span></button>
    <div>
      <p class="link" id="p1"></p>
    </div>
    <p class='ps'>Click to copy</p>
  </div>
</div>

{% if referrals %}
<div class="container-ref">
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Date</th>
      </tr>
      {% for ref in referrals %}
      <tr>
        <td>{{ ref.user.name }}</td>
        <td>{{ ref.user.invite.link }}</td>
        <td>{{ ref.user.date_created.strftime('%d of %B %Y %H:%M:%S') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<script type="text/javascript">
  // link gnerator button
  $('#click').click(function(e){
    e.preventDefault()

    $.ajax({
      type: "GET",
      url: "{{ url_for('referral.click') }}",
      success: function(result) {
        $('#p1').html(result)
      }
    })
  })

  // copy to clippboard when clicked
  $('#p1').click(function(){
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($('#p1').text()).select();
    document.execCommand("copy");
    $temp.remove();
  });
</script>

{% endblock %}